.api-hook-container {
    position: fixed;
    z-index: 9999;
    min-width: 300px;
    min-height: 120px;
    z-index: 9999;
    width: 450px;
    right: 0;
    top: 15%;
    background: #fff;
    text-align: left;
    box-shadow: -2px 1px 2px 1px #eaeaea;
    border: 1px solid #ccd3d88c;
    transition: transform 200ms linear;
}
.api-hook-container button, .api-hook-container input, .api-hook-container textarea {
    outline: none;
}
.api-hook-container .mock-list {
    max-height: 500px;
    overflow: auto;
}
.api-hook-container .mock-url, .api-hook-container .mock-content {
    width: 250px;
}
.api-hook-container .mock-item {
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 5px;
}
.api-hook-container .mock-item + .mock-item {
    border-top: 1px dashed #ffcccc;
}
.api-hook-container .api-hook-main .mock-item .delete-btn {
    top: 3px;
}
.api-hook-container .mock-item .edit-btn {
    position: relative;
    float: right;
    top: 4px;
    line-height: 14px;
    cursor: pointer;
    margin-right: 5px;
}
.api-hook-container .mock-item .edit-btn[disabled] {
    cursor: not-allowed;
}
.api-hook-container .mock-item .edit-btn:before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    padding: 1px;
    vertical-align: bottom;
    background: linear-gradient(0deg, #fff, #fff), 
        linear-gradient(-135deg, #ffffff, #ffffff 10px, transparent 0) top right/5px 5px,
        linear-gradient(0, #4a3e3e, #4a3e3e);
    background-origin: border-box;
    background-clip: content-box, padding-box, padding-box;
    background-repeat: no-repeat;
}
.api-hook-container .mock-item .edit-btn:hover:before {
    background: linear-gradient(0deg, #fff, #fff), 
        linear-gradient(-135deg, #ffffff, #ffffff 10px, transparent 0) top right/5px 5px,
        linear-gradient(0, #0075ff, #0075ff);
    background-origin: border-box;
    background-clip: content-box, padding-box, padding-box;
    background-repeat: no-repeat;
}
.api-hook-container .mock-item .edit-btn:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    background: #4a3e3e;
    transform: rotateZ(135deg);
    left: 4px;
    top: 5px;
}
.api-hook-container .mock-item .edit-btn:hover:after {
    background: #0075ff;
}
.api-hook-container .mock-item .edit-btn[disabled]:after {
    background: #eee;
}
.api-hook-container .mock-item .edit-btn[disabled]:before{
    background: linear-gradient(0deg, #fff, #fff), 
        linear-gradient(-135deg, #ffffff, #ffffff 10px, transparent 0) top right/5px 5px,
        linear-gradient(0, #eee, #eee);
    background-origin: border-box;
    background-clip: content-box, padding-box, padding-box;
    background-repeat: no-repeat;
}
.api-hook-container .mock-item  .delete-btn {
    float: right;
}
.api-hook-container label {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 5px;
}
.api-hook-container .api-hook-tabs {
    text-align: center;
    margin: 20px 0 0;
}
.api-hook-container .api-hook-tabs button {
    background: none;
    outline: none;
    border: 1px solid #00bcd4;
    padding: 5px 10px;
    cursor: pointer;
}
.api-hook-container .api-hook-main .add-mock-btn {
    background: none;
    color: #00bcd4;
    border: 1px dashed;
}
.api-hook-container .add-mock-btn:hover {
    color: #03A9F4;
}
.api-hook-container .api-hook-main .add-mock-btn[disabled] {
    color: #eee;
}
.api-hook-container .api-hook-tabs button + button {
    border-left: none;
}
.api-hook-container .api-hook-tabs button.active {
    background: #00bcd4;
    color: #fff;
}
.api-hook-container .api-hook-main {
    padding: 10px 18px;
    min-height: 485px;
}
.api-hook-container .status-code-select {
    margin-left: 15px;
    width: 80px;
}
.api-hook-container .api-hook-main .api-hook-title {
    position: relative;
    margin: 5px 0;
}
.api-hook-container .api-hook-main .api-hook-title:before {
    content: '';
    display: inline-block;
    border: 6px solid transparent;
    border-left-color: #9C27B0;
}
.api-hook-container .api-hook-main .api-hook-list {
    min-height: 120px;
    max-height: 200px;
    margin: 10px 0;
    overflow: auto;
}
.api-hook-container .api-hook-main .api-hook-list .api-item {
    position: relative;
}
.api-hook-container .api-hook-main .api-hook-list .api-item + .api-item {
    margin-top: 10px;
    border-top: 1px dashed #ffcccc;
    padding-top: 5px;
}
.api-hook-container .api-hook-main .api-hook-list .api-item input[type="checkbox"] {
    position: relative;
    float: right;
    top: 4px;
}
.api-hook-container .api-hook-main .api-hook-list .api-item:before {
    content: '';
    position: absolute;
    left: 48px;
    top: 5px;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 4px;
}
.api-hook-container .api-hook-main .api-hook-list .api-item:first-child:before {
    top: 0;
}
.api-hook-container .api-hook-main .api-hook-list .api-item.edit-mode:before {
    background-image: repeating-linear-gradient(-45deg, #fff 0, #fff 10px, #c9ecf9 10px, #c9ecf9 20px);
    animation: bgChange 8500ms linear infinite;
}
.api-hook-container .edit-url {
    font-size: 14px;
    color: #00BCD4;
    margin-left: 4px;
}
.api-hook-container .api-hook-main .api-hook-list .api-item .edit-icon {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    animation: jump 3000ms linear infinite alternate;
}
.api-hook-container .api-hook-main .api-hook-list .api-item.wait-mode {
    cursor: pointer;
}
.api-hook-container .api-hook-main .api-hook-list .api-item.wait-mode:before {
    /* background: #d690a829; */
    background-image: repeating-linear-gradient(90deg, #00bcd4, #00bcd4 2px, transparent 0, transparent 4px);
    background-size: 10px 3px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: bottom;
    animation: dotMove 2000ms ease-in-out infinite;
    background-color: #00bcd41c;
}
.api-hook-container .api-hook-main .api-hook-list .api-method {
    background: #00BCD4;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    text-align: center;
}
.api-hook-container .api-hook-main .api-hook-list .api-url {
    max-width: 320px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.api-hook-container .api-hook-main .delete-btn {
    float: right;
    line-height: 14px;
    text-align: center;
    top: 4px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
.api-hook-container .api-hook-main .delete-btn:hover {
    color: #0075ff;
}
.api-hook-container .api-hook-main .delete-btn[disabled] {
    color: #eee;
    cursor: not-allowed;
}

.api-hook-container .api-hook-main .api-hook-content textarea {
    width: 100%;
    min-height: 200px;
}
.api-hook-container .api-hook-main .api-hook-content .botttom-bar {
    text-align: center;
    margin-top: 15px;
}
.api-hook-container .api-hook-main button {
    color: #fff;
    background-color: #00bcd4;
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
    cursor: pointer;
}
.api-hook-container .api-hook-main .add-mock-button-bar {
    margin-top: 15px;
    text-align: center;
}
.api-hook-container .api-hook-main .add-mock-button-bar button + button {
    margin-left: 10px;
}
.api-hook-main button:hover {
    background-color: #05a2b7;
}
.api-hook-main button:disabled {
    background-color: #d2d9da;
}
.api-hook-container.visiable {
    transform: translateX(0);
}
.api-hook-container.non-visiable {
    transform: translateX(100%);
    cursor: default;
}
.api-hook-container .api-hook-content {
    margin-top: 20px;
}
.api-hook-toggle-bar {
    position: fixed;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    border: 1px solid #00bcd4;
    background: transparent;
    color: #00bcd4;
    cursor: pointer;
    z-index: 99999;
    opacity: 0.6;
}
.api-hook-toggle-bar:hover {
    background: #03A9F4;
    opacity: 1;
    color: #fff;
}
.api-hook-container .api-hook-close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #00bcd4;
    transform: scaleY(0.75);
    font-size: 1.2em;
    font-family: sans-serif;
}
.api-hook-container .api-hook-close:hover {
    color: #03A9F4;
}
@keyframes bgChange {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 366px;
    }
}
@keyframes dotMove {
    0% {
        background-position-x: 5px;
    }
    100% {
        background-position-x: 415px;
    }
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}